		<footer class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<ul id="share">
						<li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
						<li><a href="https://twitter.com/edjboston" class="twitter-follow-button" data-show-count="true">Follow @edjboston</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
						<li><iframe src="/inc/github-btn.html?user=edj-boston&amp;repo=matchstick&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
						<li><iframe src="/inc/github-btn.html?user=edj-boston&amp;repo=matchstick&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe></li>
						<li><iframe src="/inc/github-btn.html?user=edj-boston&amp;type=follow&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-offset-2 col-md-8" id="links">
					<ul>
						<li><small>&copy; {{year}} <a class="external" href="https://github.com/edj-boston">edj</a></small></li>
						<li><i class="fa fa-github"></i> <a class="external" href="https://github.com/edj-boston">source</a> on Github</li>
					</ul>
				</div>
			</div>
		</footer>

		<script src="/js/all.min.js"></script>
	</body>
</html>