/* Color pallete
@dark-gray:  #777777;
@orange:     #ee7733;
@tan:        #ffffee;
@light-gray: #ddddcc;
@peach:      #eeccaa;
*/

/* Fonts */
@font-face {
	font-family: 'Courgette';
	src: url('/fonts/Courgette.eot');
	src:
		url('/fonts/Courgette.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Courgette.woff') format('woff'),
		url('/fonts/Courgette.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceCodePro';
	src: url('/fonts/SourceCodePro.eot');
	src:
		url('/fonts/SourceCodePro.eot?#iefix') format('embedded-opentype'),
		url('/fonts/SourceCodePro.woff') format('woff'),
		url('/fonts/SourceCodePro.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather.eot');
	src:
		url('/fonts/Merriweather.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Merriweather.woff') format('woff'),
		url('/fonts/Merriweather.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather-Bold';
	src: url('/fonts/Merriweather-Bold.eot');
	src:
		url('/fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Merriweather-Bold.woff') format('woff'),
		url('/fonts/Merriweather-Bold.ttf') format('truetype');
}

/* Base styles */
* { font-family:'Merriweather'; }
html, body { margin:0; padding:0; background:#ee7733 url('/img/bg.png'); }
a { color:#ee7733; }
pre { font-family:'SourceCodePro'; }
code { font-family:'SourceCodePro'; color:#ee7733; background-color:#f5f5f5; }
.container { padding:20px; background-color:#ffffee; }

/* Github ribbon */
#github-ribbon { position:absolute; top:0; right:0; border:0; }

/* Header */
header { color:#777; }
#logo-type { font-family:'Courgette'; text-align:center; font-size:5em; }
#links { text-align:center;  }
#links ul { list-style:none; margin:0; padding:0; font-size:1.1em; }
#links ul li { display:inline-block; margin:0 0.5em; line-height:1.5em; }
#links ul li small { font-size:1.1em; }

/* Share buttons */
ul#share { list-style:none; text-align:center; }
ul#share li { display:inline-block; }

/* Main Section */
section { color:#000; }
h1 { display:none; }
h1 .stick { margin-left:-0.5em; font-family:'Courgette'; }
h2 { background-color:#777; solid #000; color:#fff; padding:10px 35px; margin-top:40px; margin-left:-35px; margin-right:-20px; position:relative; }
h2:after { content:""; display:block; color:#fff; bottom:-15px; left:0; position:absolute;
		width: 0; z-index:0;
		height: 0; 
		border-bottom:15px solid transparent;
		border-right:15px solid #333; }
h3 { margin-top:36px; }
h4 { margin-top:28px; }

/* Footer */
footer { text-align:center; color:#777; }
footer a { color:#777; }
footer a:hover { color:#777; }

/* Media Queries */
@media (min-width: 1200px) {
    .container { max-width:750px; }
}