/*!
 * Custom Styles
 */

/* Color pallete */
@black:       #000000;
@gray-dark:   #777777;
@gray:        #cccccc;
@gray-med:    #cccccc;
@gray-light:  #f5f5f5;
@gray-white:  #eeeeee;
@orange:      #ee7733;
@orange-dark: #cc6633;
@tan:         #ffffee;
@white:       #ffffff;
@yellow:      #f1df3a;
@purple:      #7262B4;
@blue:        #3c94e3;

/* Fonts */
@import 'fonts';

/* Base styles */
html, body { font-family:'Merriweather'; margin:0; padding:0; background:@orange url('/img/bg.png'); }
a { color:@orange; }
a:hover { color:@orange-dark; text-decoration:underline; }
pre code { font-family:'SourceCodePro'; border:0; }
code { font-family:'SourceCodePro'; color:@orange; background-color:@gray-light; border:1px solid @gray-med; }
.container { padding:20px; background-color:@tan; }

/* Header */
.env-badge { position:fixed; width:200px; margin-left:-100px; left:50%; z-index:1000; box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.5); text-align:center; opacity:0.5; background-color: @yellow;
  &.local { background-color: @purple; }
  &.develop { background-color: @blue; }

  span { color:#fff; text-transform:uppercase; }
}

header { color:@gray-dark; }
.links { text-align:center;
    ul { list-style:none; margin:0; padding:0; font-size:1.1em;
        li { display:inline-block; margin:0 0.5em; line-height:1.5em; }
    }
}

/* Share buttons */
.share { list-style:none; text-align:center; margin:10px; padding:0;
    li { display:inline-block; margin:0 3px;
        .twitter-share-button { width:80px; }
        a img { display:block; }
    }
}

/* Main Section */
main.container { color:@black; padding-top:0; }
h1 { text-align:center; margin-top:0; }
h2 { font-family:'Open-Sans',sans-serif; background-color:@gray-dark; color:@white; padding:10px 35px; margin-top:40px; margin-left:-35px; margin-right:-20px; position:relative;
    &:before { content:''; display:block; bottom:-15px; left:0; position:absolute;
        width: 0; z-index:0; height: 0;
        border-bottom:15px solid transparent;
        border-right:15px solid @black; }
    &:hover { color:@gray-white; text-decoration:none; cursor:pointer; }
    &:hover:after { content:'\f0c1'; font-family:'FontAwesome'; font-weight:normal; font-size:0.8em; margin-left:10px; color:@gray-white; }
}
h3 { font-family:'Open-Sans',sans-serif; margin-top:28px; font-weight:bold; }
h4 { margin-top:28px; font-weight:bold; }
.matchstick { display:none; }
.page-not-found { margin-top:2em; }

/* Error */
.error { margin-bottom:4em; }

/* Footer */
footer { text-align:center; color:@gray-dark; border-top:dashed 1px @gray-med; margin:auto 1em; }

/* Media Queries */
@media (min-width: 1200px) {
    .container { max-width:750px; }
}
