<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<link href="/css/all.min.css?{{timestamp}}" rel="stylesheet">
	</head>
	<body>

		{{#block "body"}}{{/block}}

		<footer class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 links">
					<ul>
						<li id="copyright">&copy; {{year}} <a class="external" href="https://ericjohnson.me">edj</a></li>
						<li><i class="fa fa-github"></i> <a class="external" href="https://github.com/edj-boston">Source</a> on Github</li>
					</ul>
				</div>
			</div>
		</footer>

		<script src="/js/all.min.js?{{timestamp}}"></script>
	</body>
</html>
